.App{
position: relative;
overflow-x: clip;
}
.App>:nth-child(1){
    background:var(--primary);
    position: relative;
}
.blue-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(147, 164, 232, 0.777);
    filter:blur(100px);
    border-radius: 100px;

}